/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  html, body, div, main, header, div, footer,
  a, ul, li, img, section, article, aside, button,
  h1, h2, h3, h4, h5, p, input {
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;

    text-decoration: inherit;
    box-sizing: inherit;
    vertical-align: inherit;
    text-align: inherit;
    color: inherit;
    font: inherit;

    background: transparent;
 }

 html {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
 }    


 body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #f9f9f9;
  font-family: 'Lato', sans-serif;
  line-height: normal;
  min-height: 100%;
 }

 ul {
  list-style: none;
 }
