.channel-item {
  float: none;
}

.search {
  padding-top: 30px;
}

.search form h1 {
  font-weight: 800;
}

.search ul {
  width: 96%;
}

.search article {
  position: relative;
  border-top: 1px solid #e8e8e8;
  padding: 10px 8px;
  line-height: 1.5;
}

.search h4 {
  padding: 10px 8px;
}

.search article h3 {
  margin-bottom: 5px;
}

.search .creation-info {
  display: block;
}

.search .other-info {
  display: block;
  width: 88%;
}

.search span {
  font-size: 13px;
}

.search .member-count {
  position: absolute;
  top: 13px;
  right: 18px;
}
