#channel-form {
  margin: 0;
  padding: 25px;
  text-align: left;
  margin: 5vh auto;
  border: 0;
  box-shadow: none;
}

#channel-form img {
  width: 30px;
}

#channel-form div {
  float: right;
  position: absolute;
  top: 55px;
  right: 55px;
  text-align: center;
  border-radius: 39px;
  padding: 6px 16px;
  font-size: 14px;
}


#channel-form h1 {
  color: #000000;
  font-weight: 700;
}

#channel-form input {
  width: calc(100% - 40px);
  margin: 5px 0;
}

#channel-form button {
  width: auto;
  float: right;
}

#channel-form label {
  display: block;
  margin: 15px 0;
}

#channel-form span {
  color: #b0b0b0;
  font-weight: 300;
}

.form-instruction {
  display: block;
  font-size: 14px;
  text-align: left;
}
