main {
  position: absolute;
  display: block;
  width: 100%;
  min-height: 665px;
  height: 100%;
}

.auth-header {
  position: fixed;
  border-bottom: #eee;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
  padding: 16px;
  z-index: 2;
  background-color: #ffffff;
}

a.logo {
  font-size: 45px;
  font-weight: 800;
  color: #2ab27b;
}

a.signup-logo {
  position: absolute;
  left: calc(50% + 50px);
  top: 38vh;
  color: #e0f5f3;
  font-size: 92px;
  font-weight: 800;
}

.signup-button {
  display: block;
  height: 42px;
  border: 2px solid #555459;
  border-radius:5px;
  padding: 8px 10px;
  color: #9da3a8;
}

.signup-button:hover {
  color: #555459;
}

.login .base-form {
  margin: 147px auto;
  background-color: #ffffff;
  width: 635px;
  border: 1px solid #eee;
  border-radius:5px;
  box-shadow:0px 1px 0px 0px #bbbbbb;
  padding: 30px;
  text-align: center;
}

.base-form h1 {
  font-size: 34px;
  font-weight: 500;
  color: #555459;
  margin-bottom: 20px;
}

.base-form .auth-prompt {
  font-size: 16px;
  color: #555459;
  font-weight: 300;
}


.base-form input {
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  width: 365px;
  margin: 5px;
  padding: 12px;
  font-size: 20px;
  font-color: #c7c7c7;
  color: #555459;
  font-weight: 300;
  text-align: left;
}

.base-form input:hover, .base-form input:focus, {
  border-color: #2780f8;
}

.auth-form {
  margin: 15px;
}

.base-form button {
  border-radius: 5px;
  margin: 8px;
  padding: 12px;
  background-color: #2ab27b;
  width: 367px;
  color: #fff;
  font-size: 20px;
}

.base-form button:hover {
  box-shadow: 0px 1px 0px 1px #9b9a9a;
}

b {
  font-weight: 500;
}

.auth-footer {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #eee;
  padding: 16px;
  background-color: #ffffff;
  bottom: 0;
  color: #2ab27b;
}

.error {
  color: #cb5234;
}
